.custom-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.custom-toolbar button {
    margin: 0 5px;
    background-color: var(--light-blue-color);
    color: var(--white-color);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.custom-toolbar .view-switch {
    display: flex;
}
.custom-toolbar .view-switch button {
    background-color: #eee;
}
.custom-toolbar .navigateToday {
    color: var(--light-blue-color);
    background-color: var(--white-color);
    border: 1px solid var(--light-blue-color);
    min-width: 70px;
}
.custom-toolbar .navigateToday span {
    display: block;
}
.custom-toolbar .navigatePrev, .custom-toolbar .navigateNext {
    color: var(--light-blue-color);
    font-size: 1.6rem;
    background-color: transparent;
}
.custom-toolbar .dropdown-toggle {
    margin: 0;
    min-width: 80px;
}
.custom-toolbar .dropdown-toggle:hover {
    background-color: #0476D0;
}
.dropdown-wrapper {
    position: relative;
    display: inline-block;
}
.dropdown-toggle {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 10;
    width: 100%;
}
.dropdown-item {
    padding: 5px 10px;
    cursor: pointer;
}
.dropdown-item:hover {
    background-color: #f0f0f0;
}
.toolbar-label {
    color: #0476D0 !important;
   /* font-family: var(--font-family);
    */
    font-weight: 500;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 768px) {
    .custom-toolbar {
       /* Adjust button sizes for mobile if necessary */
   }
    .custom-toolbar .toolbar-label {
        border-color: transparent;
   }
    .custom-toolbar .toolbar-label:hover {
        background-color: transparent;
   }
    .custom-toolbar .dropdown-item {
        font-size: 1.6rem;
   }
    .custom-toolbar .dropdown-toggle {
        min-width: 120px;
        justify-content: center;
   }
}
