.custom-agenda-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
   /* Replace with the color from your design */
    padding: 25px 10px 16px 10px;
}
.custom-agenda-header h2 {
    color: #4361ee;
    font-weight: 300px;
}
.custom-agenda-header h4 {
    color: #080505;
    margin-top: 4px;
    font-size: 1rem;
}
.view-all-button {
    background: linear-gradient(120deg, #4361ee, #0476D0);
   /* Replace with the color from your design */
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
}
.custom-date-header {
    background-color: #f0f0f0;
   /* Replace with the color from your design */
    padding: 10px;
    text-align: center;
}
.custom-event {
    display: flex;
    justify-content: end;
    align-items: flex-start;
    width: 100%;
    padding: 8px;
    border-radius: 10px;
}
.custom-event.appointment .video {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light-orange-color);
    background-color: var(--light-blue-color);
    padding: 8px;
    font-size: 2.6rem;
    border-radius: 50%;
    cursor: pointer;
}
.custom-event.appointment .video:hover {
    opacity: 0.95;
}
.custom-event .event-bottom {
    display: flex;
    align-items: center;
    margin-top: 8px;
}
.custom-event .event-bottom .event-avatar {
    display: flex;
}
.custom-event .event-bottom .event-avatar img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}
.event-time {
    color: var(--light-blue-color);
   /* Replace with the color from your design */
    margin-right: 15px;
    margin-top: 8px;
}
.event-details {
    flex-grow: 1;
}
.event-action-button {
    text-decoration: underline;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    color: cornflowerblue;
}
.agenda-calendar .rbc-agenda-date-cell, .agenda-calendar .rbc-agenda-time-cell {
    display: none;
}
